---
import ProjectsCard from "./ProjectsCard.astro";

import { Image } from "astro:assets";
import GitHubSVG from "@/assets/github-mark-white.svg";
import HiganFlower from "@/assets/higan.png";
---

<section
    id="projects-section"
    class="relative bg-amber-950/20 bg-pattern flex min-h-screen w-full flex-col justify-center overflow-hidden max-xl:p-10"
>
    <div class="flex w-full h-full flex-col justify-center items-center z-20">
        <div class="px-20 h-full">
            <div
                class="flex justify-between items-end w-full border-red-800 border-l-8 pl-6"
            >
                <!-- Title -->
                <div class="flex flex-col">
                    <h2 class="text-6xl font-extrabold text-red-800">
                        Projects
                    </h2>
                    <p class="text-off-w pt-4 italic font-semibold">
                        The proudest projects I ever worked on.
                    </p>
                </div>

                <!-- GitHub -->

                <div class="flex items-center gap-1 group">
                    <a
                        href="https://github.com/Kazyel"
                        target="_blank"
                        class="cursor-pointer text-off-w/75 group-hover:text-off-w italic transition-all duration-200"
                        >For all projects, check out my GitHub
                    </a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="size-4 mb-[6px] fill-off-w/75 group-hover:fill-off-w transition-all duration-200"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h5a.75.75 0 0 1 0 1.5h-5Z"
                            clip-rule="evenodd"
                        >
                        </path>
                        <path
                            fill-rule="evenodd"
                            d="M6.194 12.753a.75.75 0 0 0 1.06.053L16.5 4.44v2.81a.75.75 0 0 0 1.5 0v-4.5a.75.75 0 0 0-.75-.75h-4.5a.75.75 0 0 0 0 1.5h2.553l-9.056 8.194a.75.75 0 0 0-.053 1.06Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </div>

            <!-- Projects -->
            <div class="flex flex-col xl:flex-row gap-10 pt-20">
                <ProjectsCard
                    title="Project 1"
                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptate."
                />
                <ProjectsCard
                    title="Project 1"
                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptate."
                />
                <ProjectsCard
                    title="Project 1"
                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, voluptate."
                />
            </div>
        </div>
    </div>

    <!-- Left Flowers -->
    <Image
        src={HiganFlower}
        alt="Higan flower"
        class="absolute w-[700px] h-[1000px] left-28 bottom-0 aspect-square opacity-35 mix-blend-color-burn max-xl:hidden z-10"
    />
    <Image
        src={HiganFlower}
        alt="Higan flower"
        class="absolute w-[400px] h-[700px] -left-40 -rotate-45 -bottom-12 opacity-20 mix-blend-color-burn max-xl:hidden z-10"
    />
    <Image
        src={HiganFlower}
        alt="Higan flower"
        class="absolute w-[500px] h-[600px] left-[24rem] -bottom-20 opacity-25 mix-blend-color-burn max-2xl:hidden z-10"
    />

    <!-- Right Flowers -->
    <Image
        src={HiganFlower}
        alt="Higan flower"
        class="absolute w-[700px] h-[1100px] scale-x-[-1] right-28 bottom-0 opacity-35 mix-blend-color-burn max-xl:hidden z-10"
    />
    <Image
        src={HiganFlower}
        alt="Higan flower"
        class="absolute w-[400px] h-[700px] -right-40 rotate-45 -bottom-12 opacity-20 mix-blend-color-burn max-xl:hidden z-10"
    />
    <Image
        src={HiganFlower}
        alt="Higan flower"
        class="absolute w-[500px] h-[600px] right-[24rem] scale-x-[-1] -bottom-20 opacity-25 mix-blend-color-burn max-2xl:hidden z-10"
    />
</section>
