---
import PostgreSvg from "../../public/postgres.svg";
import GitSvg from "../../public/git.png";
import DockerSvg from "../../public/docker.svg";
import PythonSvg from "../../public/python.svg";
import GoLangSvg from "../../public/go.svg"
import DataSvg from "../../public/data.svg"

import { Skills as SkillsArray } from "../utils/data";
import { Image } from "astro:assets";
import Navbar from "../components/navbar/Navbar.tsx";
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/skills/SkillCard.tsx";
---

<Layout title="Kazyel | My Skills">
  <Navbar skillsActive={true} client:load />
  <section
    class="relative flex min-h-screen w-full flex-col items-center justify-center"
  >  
    <div
      transition:animate="fade"
      class="mt-6 p-8 xl:p-0 grid w-[clamp(768px,100%,1368px)] grid-row-2 grid-cols-4 items-end gap-10"
    >
      {/* Skills */}
      <h3 class="text-2xl font-semibold text-acc-yellow-2 -mb-6">Main Skills</h3>
      <div class="grid-cols-4 col-span-full grid gap-8">
        {
          SkillsArray.map(tags => (
            <SkillCard
              client:load
              {...tags}            
              />
          ))
        }
      </div>

      {/* The Basics */}
      <div
        class="col-span-1 flex h-full flex-col border-r -mr-[6px] border-stone-700"
      >
        <h3 class="text-2xl font-semibold text-acc-yellow-2">The Basics</h3>
        <div class="pt-6">
          <div class="flex flex-col gap-6">
            <div class="flex items-center gap-3 text-off-w">
              <Image
                src={PythonSvg}
                alt="Docker Logo"
                class="aspect-square w-12"
              />
              <p class="font-bold">Logic and Problem Solving</p>
            </div>

            <div class="flex items-center gap-3 text-off-w">
              <Image
                src={GitSvg}
                alt="GitHub Logo"
                class="aspect-square w-12"
              />
              <p class="font-bold">Source Control</p>
            </div>
          </div>
        </div>
      </div>

      {/* Learning Right Now */}
      <div class="col-span-3 flex flex-col gap-1 text-off-w h-full">
        <h3 class="text-2xl font-semibold text-acc-yellow-2">
          Learning right now!🔥
        </h3>
        
        <div class="grid grid-cols-3 justify-center gap-3 pt-6">
          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={GoLangSvg} alt="NextSvg" class="h-12 w-12" />
              <h3 class="font-semibold text-xl">Golang</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>

          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={PostgreSvg} alt="NextSvg" class="h-12 w-12" />
              <h3 class="font-semibold text-xl">Databases</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>

          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={DataSvg} alt="NextSvg" class="h-12 w-12 invert" />
              <h3 class="font-semibold text-lg">Data Structures & Algorithms</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
</Layout>
