---
import PostgreSvg from "../assets/postgres.svg";
import GoLangSvg from "../assets/go.svg";
import DataSvg from "../assets/data.svg";
import DockerSvg from "../assets/docker.svg";

import { Skills as SkillsArray } from "../utils/data";
import { Image } from "astro:assets";
import Navbar from "../components/navbar/Navbar.tsx";
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/skills/SkillCard.tsx";
---

<Layout title="Kazyel | My Skills">
  <Navbar skillsActive={true} client:only="react" />
  <section class="relative flex flex-col items-center justify-center">
    <div
      transition:animate="fade"
      class="mt-9 xl:mb-9 px-9 grid xl:w-[clamp(768px,100%,1368px)] grid-row-2 grid-cols-4 items-end gap-24"
    >
      {/* Skills */}
      <div class="col-span-full flex flex-col justify-center items-center">
        <h3 class="text-3xl max-w-[200px] font-bold text-acc-yellow-2 mb-6">
          Main Skills
        </h3>
        <div
          class="flex justify-center flex-wrap max-xl:grid-cols-2 max-sm:grid-cols-1 col-span-full max-xl:grid gap-8"
        >
          {SkillsArray.map((tags) => <SkillCard client:load {...tags} />)}
        </div>
      </div>

      {/* Learning Right Now */}
      <div
        class="col-span-4 max-xl:col-span-full flex flex-col justify-center items-center gap-2 text-off-w h-full mb-9"
      >
        <h3 class="text-3xl font-bold text-acc-yellow-2">
          Learning right now!
        </h3>

        <div
          class="grid grid-cols-4 max-lg:flex max-lg:flex-col justify-center gap-6 pt-6"
        >
          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={GoLangSvg} alt="NextSvg" class="h-12 w-12" />
              <h3 class="font-semibold text-xl">Golang</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>

          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={PostgreSvg} alt="NextSvg" class="h-12 w-12" />
              <h3 class="font-semibold text-xl">Databases</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>

          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={DataSvg} alt="NextSvg" class="h-12 w-12 invert" />
              <h3 class="font-semibold text-lg">DSA</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>

          <div class="col-span-1 flex flex-col items-center gap-2">
            <div class="flex w-full items-center gap-2">
              <Image src={DockerSvg} alt="NextSvg" class="h-12 w-12" />
              <h3 class="font-semibold text-xl">Docker</h3>
            </div>
            <p class="font-light">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
              non ipsa dolore repudiandae alias mollitia at nostrum quae quam
              quidem illo placeat, maiores magnam velit enim, ea odio, quasi
              rerum?
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
